# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PrivateProperty\code-generator-plus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
